<template>
  <div :id="accordionId" class="accordion-item card">

    <div class="card-header" role="tab" @click="onLinkClick($event, href)">
      <h3>
        <a :href="href" role="button" :aria-expanded="false">
          <slot name="title"></slot>

          <svg :class="{ visible: visible }" width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8631 7.60238C11.0878 7.79497 11.4193 7.79497 11.644 7.60238L19.9361 0.494893C20.3554 0.135471 20.9867 0.184033 21.3462 0.603358C21.7056 1.02269 21.657 1.65399 21.2377 2.01341L12.9456 9.12089C11.9719 9.95547 10.5352 9.95547 9.56151 9.12089L1.26944 2.0134C0.850114 1.65398 0.801553 1.02268 1.16097 0.603356C1.5204 0.184032 2.1517 0.13547 2.57102 0.494891L10.8631 7.60238Z" fill="#FFB370" />
          </svg>
        </a>
      </h3>
    </div>

    <div :id="accordionBodyId" class="collapse">
      <div class="card-body">
        <p class="card-text">
          <slot></slot>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  import Collapse from 'bootstrap/js/dist/collapse'

  export default defineComponent({

    props: {
      title: String,
      id: String
    },
    data () {
      return {
        visible: false,
        updateVisibilityListener: undefined,
        collapse: null
      }
    },

    computed: {
      accordionId: function () {
        return this.id.toLowerCase()
          .replace(/[ /'’]/g, '-')
          .replace(/[?!.,]/g, '')
      },

      href: function () {
        return '#' + this.accordionId
      },

      accordionBodyId: function () {
        return this.accordionId + '-body'
      }
    },

    mounted () {
      this.updateVisibility()

      this.updateVisibilityListener = () => this.updateVisibility()

      window.addEventListener('hashchange', this.updateVisibilityListener)

      // eslint-disable-next-line no-new
      this.collapse = new Collapse(this.$el.querySelector('.collapse'), { toggle: this.visible })
    },

    beforeUnmount: function () {
      window.removeEventListener('hashchange', this.updateVisibilityListener)
    },

    methods: {
      onLinkClick: function (event, href) {
        event.preventDefault()
        history.replaceState({}, '', href)

        this.visible = !this.visible
        this.collapse.toggle()
      },

      updateVisibility: function () {
        this.visible = window.location.hash === this.href
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../../scss/_variables';
  @import '../../../scss/_mixins';

  .accordion-item {
    .card-header {
      cursor: pointer;
      transition: background-color 0.1s;

      &:hover {
        background-color: $beige-400;
      }

      > h3 > a {
        @include disable-default-a-behaviour;

        display: flex;
        justify-content: space-between;
        align-items: center;

        > svg {
          margin-left: 1rem;
          flex-shrink: 0;

          &.visible {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

</style>
