<template>
  <accordion-element id="Does PeerTube offer moderation tools?">
    <template #title>
      {{ $gettext('Does PeerTube offer moderation tools?') }}
    </template>

    <div>
      <p>
        <SafeHTML>{{ $gettext('<a href="#what-are-the-peertube-features-for-administrators">Yes it does!</a>', true) }}</SafeHTML>

        <SafeHTML>
          {{ $gettext('Since the first stable release of PeerTube in October 2018, <strong>every release</strong> added or improved moderation features:', true) }}
        </SafeHTML>
      </p>

      <ul>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 1.1</strong> added bulk actions in the admin users table and instance/account muting;', true) }}
          </SafeHTML>
      </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 1.2</strong> added the ability to unfederate a video on blacklist; the notification system now shows reports, and new users;', true) }}
          </SafeHTML>
      </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 1.3</strong> added the possibility for admins to automatically quarantine new videos for new/untrusted users until a moderator reviews it. The instance\'s followers management was also reworked: UI is improved, follows can be denied;', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 1.4</strong> added a plugin system, and made sure plugins can for instance automatically blacklist videos or reject comments based on any rule (similar to Pleroma MRF);', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 2.0</strong> setup now asks the admin to answer questions regarding their moderation policy and dedication to it. Make a feature to automatically follow a public index of PeerTube instances part of core PeerTube, instead of leaving admins to script it themselves. This allows instance administrators to automatically follow instances of a "follow list" of their choice; a list which is self-hostable, so that communities can grow at their own pace;', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 2.1</strong> added an <em>internal</em> privacy mode to videos (such videos won\'t be shared outside of the instance), and added quick access to moderation tools below the comments and hooks to create registration plugins (geoblocking or captchas for example); some third-party plugins already demonstrate this ability. This release also put emphasis on describing moderation features within the interface: warnings for features that might increase moderation work like autofollow, and descriptions to the action dropdowns.', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 2.2</strong> greatly improved video abuses management (search, abuses display, actions on the video or account etc), added moderation hooks and helpers in the plugins API and Framasoft developed an experimental <em>Auto mute</em> plugin based on public lists.', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 2.3</strong> improved the report modal and added predefined reasons selection. This version made it possible to delete all the comments of an account and Framasoft developed an experimental <em>Auto block videos</em> plugin based on public lists.', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 2.4</strong> added ability to report accounts and comments, a messaging system between the local reporter of an abuse and moderators, and an abuse management view for users.', true) }}
          </SafeHTML>
        </li>
        <li>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube 3.0</strong> added a dedicated view to manage comments of the instance (list, filter, remove in bulk etc).', true) }}
          </SafeHTML>
        </li>
        <li>...</li>
      </ul>

      <p>
        {{ $gettext('PeerTube developers are committed to develop and improve moderation tools to make instances always easier to manage.') }}

        <SafeHTML>
          {{
            $gettext('We welcome you to take part in discussions to <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz/PeerTube/issues">help ongoing efforts</a> in that direction or <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz/PeerTube/issues/new">suggest new ones</a>!', true) }}
          }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
