<template>
  <accordion-element id="What is the PeerTube release policy?">
    <template #title>
      {{ $gettext('What is the PeerTube release policy?') }}
    </template>

    <div>
      <p>
        {{ $gettext('Framasoft tries to make around 4 major releases per year.') }}
        {{ $gettext('Releasing a new PeerTube version takes a lot of our time, so we cannot change this release cycle.') }}
      </p>

      <p>{{ $gettext('There is no LTS version: only the latest stable version of PeerTube is supported by Framasoft.') }}</p>

      <p>
        <SafeHTML>
          {{ $gettext('If you want to test the PeerTube develop branch, we provide <a target="_blank" rel="noopener noreferrer" href="https://builds.joinpeertube.org/nightly/">nightly builds</a>.', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
