<template>
  <accordion-element id="Should I have a big server to run PeerTube?">
    <template #title>
      {{ $gettext('Should I have a big server to run PeerTube?') }}
    </template>

    <div>
      <p>
        {{ $gettext('PeerTube should run happily on a virtual machine with 2 threads/vCPUs, at least 1 Gb of RAM and enough storage for videos.') }}
        {{ $gettext('In terms of bandwidth, a lot will depend on which PeerTube instances you federate with and what your relation with them is (more about that below).') }}
      </p>

      <p>
        {{ $gettext('As a real life example, the PeerTube demonstration server https://peertube.cpy.re runs on 2 vCores and 2GB of RAM.') }}
        {{ $gettext('Average consumption is:') }}
      </p>

      <ul>
        <li>{{ $gettext('CPU: nginx ~ 2%, peertube ~ 10%, postgres ~ 1%, redis ~ 1%') }}</li>
        <li>{{ $gettext('RAM: nginx ~ 1MB, peertube ~ 150MB, postgres ~ 30MB, redis ~ 20MB') }}</li>
        <li>{{ $gettext('Network: ~200GB sent per month (https://framatube.org: ~1.5TB sent per month)') }}</li>
      </ul>

      <strong>{{ $gettext('CPU') }}</strong>

      <p>
        {{
          $gettext('Except for video transcoding, a PeerTube instance is not CPU bound. Neither Nginx, PeerTube itself, PostgreSQL nor Redis require a lot of computing power. If it were only for those, one could easily get by with just one thread/vCPU.')
        }}
      </p>

      <p>
        {{ $gettext('You will hugely benefit from at least a second thread though, because of transcoding. Transcoding is very cpu intensive.') }}

        {{ $gettext('It serves two purposes on a PeerTube instance: it ensures all videos can be played optimally in the web interface, and it generates different resolutions for the same video.') }}

        <SafeHTML>
          {{ $gettext('PeerTube support for offloading transcoding to other machines is <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz/PeerTube/issues/947">being discussed</a>, but not yet implemented.', true) }}
        </SafeHTML>
      </p>

      <strong>{{ $gettext('RAM') }}</strong>

      <p>
        {{ $gettext('1/2 GB of RAM should be plenty for a basic PeerTube instance, which usually takes at most 150 MB in RAM.') }}

        {{ $gettext('The only reason you might want more would be if you colocate your Redis or PostgreSQL services on a non-SSD system.') }}
      </p>

      <strong>{{ $gettext('Storage') }}</strong>
      <p>
        {{ $gettext('There are two important angles to storage: disk space usage and sustained read speed.') }}

        {{ $gettext('To make a rough estimate of your disk space usage requirements, you want to know the answer to three questions:') }}
      </p>

      <ul>
        <li>{{ $gettext('What is the total size of the videos you wish to stream?') }}</li>
        <li>
          {{ $gettext('Do you want to enable transcoding? If so, do you want to provide multiple resolutions per video? Try this out with a few videos and you will get an idea of how much extra space is required per video and estimate a multiplication factor for future space allocation.') }}
        </li>
        <li>{{ $gettext('Which sharing mechanisms do you want to enable? Just WebTorrent, or also HLS with p2p? If you want both, this will double your storage needs.') }}</li>
      </ul>

      <p>
        <SafeHTML>
          {{ $gettext('If you want to store many videos on your PeerTube instance, you may want to store videos externally using <a href="https://docs.joinpeertube.org/admin-remote-storage" target="_blank">Object Storage</a>.', true) }}
        </SafeHTML>
      </p>

      <p>
        {{ $gettext('In terms of read speed, you want to make sure that you can saturate your network uplink serving PeerTube videos.') }}

        {{ $gettext('This should not be a problem with SSD disks, whereas traditional HDD should be accounted for: typical sustained read rates for a well tuned system with a 7200rpm hard disk should hover around 120 MB/s or 960 Mbit/s. The latter should be enough for a typical 1 Gbit/s network uplink.') }}
      </p>

      <strong>{{ $gettext('Network') }}</strong>
      <p>
        {{ $gettext('A rough estimate of a traditional server\'s video streaming network capacity is usually quite straightforward.') }}
        {{ $gettext('You simply divide your server\'s available bandwidth by the average bandwidth per stream, and you have an upper bound.') }}
      </p>

      <p>
        {{ $gettext('Take a server for example with a 1 Gbit/s uplink for example pushing out 1080p60 streams at 5 Mbit/s per stream.') }}
        {{ $gettext('That means the absolute theoretical upper capacity bound is 200 simultaneous viewers if your server\'s disk i/o can keep up.') }}
        {{ $gettext('Expect a bit less in practice.') }}
      </p>

      <p>
        {{ $gettext('But what if you need to serve more users? That\'s where PeerTube\'s federation feature shines. If other PeerTube instances following yours, chances are they have decided to mirror part of your instance!') }}

        {{ $gettext('The feature is called "server redundancy" and caches your most popular videos to help serve additional viewers.') }}

        {{ $gettext('While viewers themselves contribute a little additional bandwidth while watching the video in their browsers (mostly during surges), mirroring servers have a much greater uplink and will help your instance with sustained higher concurrent streaming.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
