<template>
  <accordion-element id="PeerTube does not contain all the tools I need to manage my platform">
    <template #title>
      {{ $gettext('PeerTube does not contain all the tools I need to manage my platform') }}
    </template>

    <div>
      <blockquote>
        {{ $gettext('"It\'s outrageous and unconscionable: you\'re releasing a PeerTube version that doesn\'t contain the necessary tools to effectively manage videos claimed by rights holders, or to effectively manage the issue of online harassment in comments, or to effectively manage monetization through advertising, or to (insert here your request to PeerTube). It will never work! What do you intend to do about it?"') }}
      </blockquote>

      <p>
        {{ $gettext('You\'re right. PeerTube is not the perfect tool, far from it. And we never promised this software would include all the features corresponding to every use cases.') }}
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('Remember that PeerTube has only <a href="#who-is-working-on-peertube">one full time developer</a> and a small handful of very involved volunteers. It is not a product developed by a start-up with a full time team and significant financial support.', true) }}
        </SafeHTML>
      </p>

      <p>
        {{ $gettext('So if you feel that PeerTube does not currently meet your needs, it\'s simple: don\'t use it right now.') }}

        {{ $gettext('We remind you that we don\'t make money developing PeerTube, and if we obviously hope for its success, Framasoft does not depend on it to continue its activities.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
