<template>
  <main id="home">

    <div class="alternative-to big-container color-container">
      <div class="jpt-container two-columns responsive-reverse">
        <div class="left">
          <h1>
            <strong>{{ $gettext('An alternative to GAFAM\'s video platforms') }}</strong>
          </h1>

          <div class="small-separator"></div>

          <p>
            <SafeHTML>
              {{ $gettext('PeerTube is a tool for sharing online videos developed by <a target="_blank" rel="noopener noreferrer" href="https://framasoft.org">Framasoft</a>, a french non-profit.', true) }}
            </SafeHTML>
          </p>
        </div>

        <div class="right">
          <img :src="buildImgUrl('home/container-1.svg')" alt="">
        </div>
      </div>
    </div>

    <div class="jpt-container what-is-peertube two-columns">
      <div class="left">
        <img :src="buildImgUrl('home/what-is-peertube.svg')" alt="">
      </div>

      <div class="right">
        <h2>
          <strong>{{ $gettext('What is PeerTube?') }}</strong>
        </h2>

        <div class="small-separator"></div>

        <h3>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube allows you to create your own video platform,</strong> in complete independence.', true) }}
          </SafeHTML>
        </h3>

        <p>
          {{ $gettext('With PeerTube, no more opaque algorithms or obscure moderation policies! PeerTube platforms you visit are built, managed and moderated by their owners.') }}
        </p>

        <p>
            <SafeHTML>
              {{ $gettext('PeerTube allows platforms to be connected to each other, creating a <strong>big network</strong> of platforms that are both autonomous and interconnected.', true) }}
            </SafeHTML>
        </p>

        <p>
          <SafeHTML>
            {{ $gettext('<strong>Moreover, PeerTube does not depend on any advertising and does not track you!</strong>', true) }}
          </SafeHTML>
        </p>
      </div>

    </div>

    <FindPeerTube></FindPeerTube>

    <div class="jpt-container free-software two-columns">
      <div class="left">
        <h2>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube is not subject to the monopoly</strong> of any company', true) }}
          </SafeHTML>
        </h2>

        <div class="small-separator"></div>

        <p>
          <SafeHTML>
            {{ $gettext('Like the other tools developed by <a target="_blank" rel="noopener noreferrer" href="https://framasoft.org/en">Framasoft</a>, <strong>PeerTube considers you as a person and not as a product</strong> to be profiled and locked in video loops.', true) }}
          </SafeHTML>
        </p>

        <p>
          {{ $gettext('PeerTube is free, open-source, created for non-commercial purposes.') }}
        </p>
      </div>

      <div class="right">
        <h2>
          <SafeHTML>
            {{ $gettext('An ethical and open source <strong>digital common</strong>', true) }}
          </SafeHTML>
        </h2>

        <div class="small-separator"></div>

        <p>
          <SafeHTML>
            {{ $gettext('<strong>PeerTube belongs to you. At any time, you can help us <a target="_blank" rel="noopener noreferrer" href="https://ideas.joinpeertube.org/">to improve PeerTube</a></strong> with your ideas, suggestion or by modifying the source code yourself.', true) }}
          </SafeHTML>
        </p>

        <p>
          {{ $gettext('PeerTube is a free software, not a secret formula that belongs to Google (in the case of Youtube) or to Vivendi/Bolloré (Dailymotion). This free/libre license guarantees our fundamental freedoms as users.') }}
        </p>
      </div>
    </div>

    <Donate></Donate>

    <FAQExtract>
      <FAQWhatIsPeerTube></FAQWhatIsPeerTube>
      <FAQPurpose></FAQPurpose>
      <FAQAdvantages></FAQAdvantages>
    </FAQExtract>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'

  import FindPeerTube from '../components/home/FindPeerTube.vue'
  import Donate from '../components/home/Donate.vue'

  import FAQExtract from '../components/faq/FAQExtract.vue'
  import FAQWhatIsPeerTube from '../components/faq/common/FAQWhatIsPeerTube.vue'
  import FAQPurpose from '../components/faq/common/FAQPurpose.vue'
  import FAQAdvantages from '../components/faq/common/FAQAdvantages.vue'

  import { buildHeadTitle } from '../shared'

  export default defineComponent({
    components: {
      FAQExtract,
      FAQWhatIsPeerTube,
      FAQPurpose,
      FAQAdvantages,

      FindPeerTube,
      Donate
    },

    head () {
      const { $gettext } = useGettext()

      return buildHeadTitle($gettext('What is PeerTube?'))
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/bootstrap-mixins.scss';

  #home {
    .alternative-to {
      h1 {
        @include margin-top(1rem);
      }

      h3 {
        margin-bottom: 20px;
      }

      p {
        @include font-size(1.5rem);
      }

      .right {
        position: relative;

        img {
          @include rfs(31rem, width);
          @include rfs(-6.5rem, top);

          position: absolute;
        }
      }

      @include media-breakpoint-down(md) {
        .right img {
          position: relative;
          top: 0;
        }
      }
    }

    .what-is-peertube {
      @include margin-top(3.5rem);

      > * {
        @include margin-top(1.5rem);
      }
    }

    .free-software {
      @include margin-top(3.5rem);

      > * {
        @include margin-top(1.5rem);
      }
    }
  }
</style>
