<template>
  <main id="instances">
    <div class="title-block">
      <h1>
        <strong>{{ $gettext('Find a PeerTube platform') }}</strong>
      </h1>

      <div class="small-separator"></div>
    </div>

    <instances-list></instances-list>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'

  import InstancesList from '../components/InstancesList.vue'

  import { buildHeadTitle } from '../shared'

  export default defineComponent({
    components: {
      InstancesList
    },

    head () {
      const { $gettext } = useGettext()

      return buildHeadTitle($gettext('Find a PeerTube platform'))
    }
  })
</script>
