<template>
  <main id="news">
    <div class="title-block">
      <h1>
        <strong>{{ $gettext('PeerTube news!') }}</strong>
      </h1>

      <div class="small-separator"></div>
    </div>

    <div class="jpt-container subscribe-container card two-columns">
      <div class="left">
        <p class="subscribe-question">{{ $gettext('You prefer to be directly informed of PeerTube news? Subscribe to our newsletter!') }}</p>

        <p>
          <SafeHTML>
            {{ $gettext('Or you prefer to subscribe to the PeerTube <strong>RSS feed</strong>? <a target="_blank" rel="noopener noreferrer" :href="getSyndicationLink()">Here is the link!</a>', true) }}
          </SafeHTML>
        </p>
      </div>

      <div class="right">
        <form action="https://listmonk.framasoft.org/subscription/form" method="post">
          <label for="newsletter-email">{{ $gettext('Your email address') }}</label>

          <input
            id="newsletter-email" v-model="email" name="email"
            :placeholder="getEmailPlaceholder()" required type="email"
          />

          <p class="small-description">
            {{ $gettext('We will send you a few emails per year about new developments around PeerTube.') }}

            <br />

            {{ $gettext('You can unsubscribe at any time. Your email address will never be given to anyone.') }}
          </p>

          <button class="jpt-primary-button jpt-smaller-button" name="subscribe" type="submit" :value="getSubscribeButtonLabel()">
            {{ $gettext('Subscribe') }}
          </button>

          <input name="nonce" type="hidden" />
          <div style="display: none;">
            <input id="e97e4" checked name="l" type="checkbox" value="e97e4fa6-cf8d-4741-8fcd-4f60ab81ef30" />
          </div>
        </form>
      </div>
    </div>

    <div class="big-container color-container news-container">
      <div class="small-container">
        <h2 class="text-center">
          <strong>{{ $gettext('What\'s new?') }}</strong>
        </h2>

        <div class="small-separator mx-auto"></div>

        <img class="peertube-mascot d-none d-sm-inline" :src="buildImgUrl('mascot/pointing.svg')" alt="">

        <NewsArticles :articles="articles"></NewsArticles>
      </div>
    </div>

    <div class="text-center mt-5">
      <router-link to="/news-archive" class="jpt-secondary-button jpt-link-button">
        {{ $gettext('See older news') }}
      </router-link>
    </div>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'

  import NewsArticles from '../components/NewsArticles.vue'

  import archiveMeta from '../news/archives/meta.json'

  import { buildHeadTitle } from '../shared'

  export default defineComponent({
    components: {
      NewsArticles
    },

    data: function () {
      return {
        articles: [],
        email: ''
      }
    },

    head () {
      const { $gettext } = useGettext()

      return buildHeadTitle($gettext('PeerTube news'))
    },

    mounted () {
      const archivedIds = archiveMeta.map(o => '#' + o.id)

      if (window.location.hash && archivedIds.includes(window.location.hash)) {
        this.$router.push({ path: '/news-archive', hash: window.location.hash })
        return
      }

      this.getNews()
    },

    methods: {
      getEmailPlaceholder () {
        return this.$gettext('name@example.com')
      },

      getSyndicationLink () {
        return '/rss-' + this.getCurrentLocale() + '.xml'
      },

      getSubscribeButtonLabel () {
        return this.$gettext('Subscribe to the newsletter')
      },

      getNews () {
        const markdownFiles = this.getCurrentShortLocale() === 'fr'
          ? import.meta.glob('../news/fr/*.md', { eager: true })
          : import.meta.glob('../news/en/*.md', { eager: true })

        this.articles = this.buildArticles(markdownFiles)
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/bootstrap-mixins.scss';

  #news {
    .subscribe-container {
      padding: 30px;
      margin-bottom: 25px;
      align-items: flex-start;

      .subscribe-question {
        @include font-size(1.5rem);

        font-weight: $font-semibold;
      }

      label {
        @include proza;
        @include font-size(1.15rem);

        font-weight: $font-bold;
      }

      input {
        width: 100%;
      }

      .small-description {
        margin: 10px 0;
      }
    }

    .news-container {
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .small-container {
      position: relative;

      .peertube-mascot {
        position: absolute;
        max-width: 160px;
        right: 0;
        top: -50px;
        transform: rotateY(180deg);
      }
    }
  }
</style>
