<template>
  <main id="news-archive">
    <div class="title-block">
      <h1>
        <strong>{{ $gettext('PeerTube news archive') }}</strong>
      </h1>

      <div class="small-separator"></div>
    </div>

    <div class="text-center mb-3">
      <router-link to="/news" class="jpt-primary-button jpt-link-button">Go back to the latest news</router-link>
    </div>

    <div class="big-container color-container news-container">
      <div class="small-container">
        <NewsArticles :articles="articles"></NewsArticles>
      </div>
    </div>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'

  import NewsArticles from '../components/NewsArticles.vue'

  import { buildHeadTitle } from '../shared'

  export default defineComponent({
    components: {
      NewsArticles
    },

    data: function () {
      return {
        articles: []
      }
    },

    head () {
      const { $gettext } = useGettext()

      return buildHeadTitle($gettext('PeerTube news archive'))
    },

    mounted () {
      this.getNews()
    },

    methods: {
      getNews () {
        const markdownFiles = this.getCurrentShortLocale() === 'fr'
          ? import.meta.glob('../news/archives/fr/*.md', { eager: true })
          : import.meta.glob('../news/archives/en/*.md', { eager: true })

        this.articles = this.buildArticles(markdownFiles)
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/bootstrap-mixins.scss';

  #news-archive {
    .news-container {
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
</style>
