<template>
  <main id="not-found">

    <img :src="buildImgUrl('mascot/defeated.png')" alt="mascot" />

    <div class="not-found-text">
      {{ $gettext('Page not found') }}
    </div>

    <p class="link-block">
      <router-link to="/">
        {{ $gettext('Go back to the homepage') }}
      </router-link>
    </p>
  </main>
</template>

<script>
  import { defineComponent } from 'vue'

  import { useGettext } from 'vue3-gettext'

  import { buildHeadTitle } from '../shared'

  export default defineComponent({
    head () {
      const { $gettext } = useGettext()

      return buildHeadTitle($gettext('Page not found'))
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';

  #not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    img {
      margin-bottom: 50px;
    }

    .not-found-text {
      font-size: 25px;
    }

    .link-block {
      margin-top: 30px;
    }
  }
</style>
