<template>
  <accordion-element id="I don't like the name PeerTube">
    <template #title>
      {{ $gettext('I don\'t like the name "PeerTube"') }}
    </template>

    <div>
      <p>
        {{ $gettext('PeerTube is just the name of the software. You can install it on your server, and choose the name you want.') }}

        <SafeHTML>
          {{ $gettext('For example, Framasoft\'s PeerTube platform is named <a target="_blank" rel="noopener noreferrer" href="https://framatube.org/">FramaTube</a>.', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
