<template>
  <accordion-element id="Is PeerTube's purpose to replace YouTube?">
    <template #title>
      {{ $gettext('Is PeerTube\'s purpose to replace YouTube?') }}
    </template>

    <div>
      <p>{{ $gettext('We can answer with certainty: no!') }}</p>

      <p>
        <SafeHTML>
          {{
            $gettext('The ambition remains to be <strong>a free and decentralized alternative</strong>: the goal of an alternative is not to replace, but to propose something else, with different values, in parallel to what already exists.', true)
          }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
