<template>
  <div class="donate">
    <div class="background all-width-absolute">
      <div class="background-left"></div>
      <div class="background-right"></div>
    </div>

    <div class="small-container d-flex flex-wrap flex-sm-nowrap">
      <img :src="buildImgUrl('mascot/pointing.svg')" alt="">

      <div>
        <h3>
          <strong>{{ $gettext('PeerTube exists thanks to your donations!') }}</strong>
        </h3>

        <div class="small-separator"></div>

        <p>
          <SafeHTML>
            {{ $gettext('Framasoft does not make money by developing PeerTube! We are <strong>a public interest organization where over 90% of our funding comes from donations.</strong>', true) }}
          </SafeHTML>
        </p>

        <p>
          <SafeHTML>
            {{ $gettext('<strong>Every contribution,</strong> even the smallest, allows us to continue developing PeerTube. You think our project is going in the right direction? Please make a donation!', true) }}
          </SafeHTML>
        </p>

        <a class="jpt-link-button jpt-primary-button" href="https://support.joinpeertube.org" target="_blank" rel="noopener noreferrer">
          <span>{{ $gettext('Donate') }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({})
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables.scss';
  @import '../../scss/_mixins.scss';
  @import '../../scss/_bootstrap-mixins.scss';

  .donate {
    @include margin-top(8rem);

    position: relative;
    min-height: 320px;

    .background {
      border: 1px solid $beige-800;
      background: $orange-main;
      position: absolute;
      z-index: 1;
      height: 100%;

      .background-left,
      .background-right {
        height: 100%;
        background: url('/img/peertube-logo-background.svg');
        min-height: 320px;
        width: 50%;
        display: inline-block;
      }

      .background-right {
        transform: rotate(180deg);
      }
    }

    .small-container {
      @include rfs(-4rem, top);
      @include padding(1rem 2.5rem);

      position: relative;
      z-index: 10;
      background-color: #fff;
      border: 1px solid $beige-700;
      border-radius: 4px;

      img {
        @include rfs(-3.5rem 2.5rem 0 0, margin);
        @include rfs(20rem, height);

        flex-shrink: 3;
      }

      > div {
        margin: 1rem 0;
      }
    }
  }
</style>
