<template>

  <div class="news-article">
    <article v-for="article in articles" :id="article.id" :key="article.id" class="news card">
      <div class="published-date">{{ article.date.toLocaleDateString() }}</div>

      <h3>
        <a :href="'#' + article.id">
          <strong>{{ article.title }}</strong>
        </a>
      </h3>

      <div class="small-separator"></div>

      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="body" @click="onNewsClick($event)" v-html="article.html"></div>
    </article>

    <div id="modal" :class="{ 'hide-modal': hideModal }" @click="closeModal()">
      <img loading="lazy" :src="modalImgSrc" />

      <div class="caption">{{ modalCaption }}</div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({
    components: {
    },

    props: {
      articles: Array
    },

    data: function () {
      return {
        modalImgSrc: '',
        modalCaption: '',
        hideModal: true
      }
    },

    methods: {
      onNewsClick (event) {
        if (event.target instanceof HTMLImageElement) {
          return this.openModal(event)
        }
      },

      openModal (event) {
        const img = event.target

        this.hideModal = false
        this.modalImgSrc = img.src
        this.modalCaption = img.alt
      },

      closeModal () {
        this.hideModal = true
        this.modalImgSrc = ''
        this.modalCaption = ''
      }
    }
  })
</script>

<style lang="scss">
  // Not scoped because we want to style generated HTML
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/_bootstrap-mixins.scss';

  .news-article {
    .published-date {
      color: $secondary-font-color;
      margin-bottom: 10px;
    }

    .news {
      @include padding(2rem 2.5rem);

      @include media-breakpoint-down(sm) {
        padding: 20px;
        border-right: none;
        border-left: none;
        border-radius: 0;
      }

      margin: 15px 0;

      h3 {
        a {
          @include disable-default-a-behaviour;

          color: inherit;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .body {
        margin-top: 40px;

        p {
          @include wrap-text;

          margin-bottom: 10px;
        }

        p + *:not(ul),
        ul + *:not(ul) {
          margin-top: 1rem;
        }

        a {
          word-break: break-word;
        }

        h3 {
          @include font-size(1.25rem);
        }

        h4 {
          @include font-size(1.125rem);
        }

        h3,
        h4 {
          margin: 1.5rem 0 1rem 0;
          font-weight: $font-bold;
        }

        img {
          cursor: pointer;
          max-width: 100%;
          height: auto;
        }

        figure {
          margin: 30px 0;
          border: 10px solid $beige-500;

          figcaption {
            @include font-size-14px;
            @include adapt-link-size-14px;

            background: $beige-500;
            text-align: center;
            padding: 10px 0 0;
          }
        }
      }
    }

    #modal {
      &.hide-modal {
        display: none;
      }

      position: fixed;
      z-index: 1;
      padding-top: 5vh;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.9);

      img {
        margin: auto;
        display: block;
        height: auto;
        width: auto;
        max-height: 90%;
      }

      .caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px;
      }

      img,
      .caption {
        animation-name: zoom;
        animation-duration: 0.6s;
      }
    }
  }
</style>
