<template>
  <accordion-element id="How do I report PeerTube content?">
    <template #title>
      {{ $gettext('How do I report PeerTube content?') }}
    </template>

    <div>
      <p>
        <SafeHTML>
          {{ $gettext('See the dedicated section in the PeerTube documentation: <a href="https://docs.joinpeertube.org/use-report" target="_blank">https://docs.joinpeertube.org/use-report</a>', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
