<template>
  <svg width="12" height="5" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.93154 3.80091C6.04389 3.89721 6.20967 3.89721 6.32202 3.80092L10.4681 0.247172C10.6777 0.067461 10.9934 0.091742 11.1731 0.301404C11.3528 0.511068 11.3285 0.826718 11.1188 1.00643L6.97281 4.56017C6.48597 4.97746 5.76759 4.97746 5.28075 4.56017L1.13472 1.00643C0.925057 0.826717 0.900776 0.511067 1.08049 0.301404C1.2602 0.0917412 1.57585 0.0674602 1.78551 0.247171L5.93154 3.80091Z" fill="currentColor" />
  </svg>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({})
</script>
