<template>
  <div>
    <header-component></header-component>

    <vue-progress-bar></vue-progress-bar>
    <router-view></router-view>

    <footer-component></footer-component>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'
  import { useGettext } from 'vue3-gettext'

  import HeaderComponent from './components/Header.vue'
  import FooterComponent from './components/Footer.vue'

  import { getShortLocale, buildHeadDescription } from './shared'

  export default defineComponent({
    name: 'App',

    components: {
      HeaderComponent,
      FooterComponent
    },

    head () {
      const { $gettext, current } = useGettext()

      const locale = getShortLocale(current)

      return {
        htmlAttrs: {
          lang: locale
        },

        ...buildHeadDescription(
          $gettext(
            'A free software to take back control of your videos! With more than %{ videos } hosted videos, viewed more than %{ views } millions times and %{ users } users, PeerTube is the decentralized free software alternative to videos platforms developed by Framasoft',
            {
              videos: Number(600000).toLocaleString(locale),
              views: Number(70).toLocaleString(locale),
              users: Number(150000).toLocaleString(locale)
            }
          )
        )
      }
    },

    mounted() {
      this.$Progress.finish()
    },

    created() {
      this.$Progress.start()

      this.$router.beforeEach((_to, _from, next) => {
        this.$Progress.start()
        next()
      })

      this.$router.afterEach(() => {
        this.$Progress.finish()
      })
    }
  })
</script>
