@import '_variables';
@import '_mixins';
@import '_bootstrap-mixins.scss';

.jpt-accordion {

  .card {
    background: $beige-500;
    border-radius: 4px;
    border: 1px solid $beige-700;
    margin-bottom: 1rem;
  }

  .card-header,
  .card-body {
    @include padding(1rem 2rem);
  }

  .card-header {
    text-align: left;
    background: transparent;
    border: none;

    h3 {
      @include font-size(1.125rem);

      margin: 0;
      line-height: inherit;
      font-family: inherit;
    }

    a {
      font-weight: $font-bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .card-header,
    .card-body {
      padding: 1rem 1rem;
    }

    .card-header h3 {
      font-size: 1rem;
    }
  }

  .card-body {
    background-color: $beige-400;

    h4 {
      font-size: 1rem;
      font-weight: $font-semibold;
    }
  }

  .collapse.show {
    border-top: 1px solid $beige-700;
  }
}
