<template>
  <accordion-element id="What are the PeerTube features for content creators?">
    <template #title>
      {{ $gettext('What are the PeerTube features for content creators?') }}
    </template>

    <div>
      <ul class="multi">
        <li>
          <strong>{{ $gettext('Find the PeerTube website that suits you best') }}</strong>

          <ul>
            <li>
              <SafeHTML>
                {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="/instances">Join a PeerTube community</a> depending on its topic, terms of services or code of conduct', true) }}
              </SafeHTML>
            </li>

            <li>{{ $gettext('Talk to administrators and moderators that are real people, not robots') }}</li>
          </ul>
        </li>

        <li>
          <strong>{{ $gettext('Upload and import videos') }}</strong>

          <ul>
            <li>{{ $gettext('Upload or import videos from the web (Youtube, Dailymotion...) or from a torrent file') }}</li>
            <li>{{ $gettext('Set metadata: category, licence, language, tags, description, thumbnail...') }}</li>

            <li>
              <SafeHTML>
                {{ $gettext('Choose <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-create-upload-video?id=video-confidentiality-options-what-do-they-mean">video privacy</a>: public, unlisted, internal or private', true) }}
              </SafeHTML>
            </li>

            <li>
              <SafeHTML>
                {{ $gettext('Add <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-create-upload-video?id=captions">subtitles</a>', true) }}
              </SafeHTML>
            </li>

            <li>{{ $gettext('Easily disable comments or download') }}</li>
            <li>{{ $gettext('Upload an audio file and an image and let PeerTube take care of creating the video!') }}</li>
          </ul>
        </li>

        <li>
          <strong>{{ $gettext('Live streaming') }}</strong>

          <ul>
            <li>
              <SafeHTML>
                {{ $gettext('<a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-create-upload-video?id=publish-a-live-in-peertube-gt-v3">Publish live videos</a> in PeerTube using your favorite RTMP compatible software (OBS, Restream, ffmpeg...)', true) }}
              </SafeHTML>
            </li>

            <li>{{ $gettext('Create permanent lives to stream multiple times inside the same live (URL doesn\'t change for the viewers)') }}</li>

            <li>{{ $gettext('Let PeerTube create a replay of your live') }}</li>
          </ul>
        </li>

        <li>
          <strong>{{ $gettext('Manage your channels') }}</strong>

          <ul>
            <li>
              <SafeHTML>
                {{ $gettext('Create <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-library?id=video-channels">multiple channels</a> inside your account to group your videos by topic', true) }}
              </SafeHTML>
            </li>

            <li>{{ $gettext('Brand your channel using a dedicated name, a banner and an avatar') }}</li>

            <li>
              <SafeHTML>
                {{ $gettext('Set a <em>Support</em> button for your channel to explain how to support your work', true) }}
              </SafeHTML>
            </li>

            <li>{{ $gettext('People can subscribe to your channel from a PeerTube website or from an ActivityPub compatible software (Mastodon, Pleroma...)') }}</li>

            <li>
              <SafeHTML>
                {{ $gettext('Create public <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-library?id=playlist">playlists</a> assigned to your channel to organize your content or remote videos', true) }}
              </SafeHTML>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
