<template>
  <accordion-element id="What is PeerTube's policy about content monetization?">
    <template #title>
      {{ $gettext('What is PeerTube\'s policy about content monetization?') }}
    </template>

    <div>
      <p>{{ $gettext('There are none at the moment: PeerTube is a tool that we wanted neutral in terms of monetization.') }}</p>

      <p>
        <SafeHTML>
          {{ $gettext('However, the uploader can display a <strong>support</strong> button under the video.', true) }}
        </SafeHTML>

        {{ $gettext('This button displays a frame in which people who upload videos can display text, images, and links freely (link to Patreon, Tipeee, Paypal, Liberapay...).') }}
      </p>

      <p>
        {{ $gettext('We did not go any further, as we refuse to tie our code to a particular content funding method, that might not fit all communities and deter others.') }}

        <SafeHTML>
          {{ $gettext('It\'s the reason why we encourage developers to use the <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/contribute-plugins">PeerTube plugin API</a> to create their own monetization system.', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
